<nav class="nav">
  <div class="header_section header_bg">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a href="index.html" class="logo"><img src="assets/images/logo.png"></a>
      <div class="nav-search ">
        <input type="text" placeholder="Tìm kiếm sản phẩm">
        <button>Tìm kiếm</button>
      </div>
      <ul>
        <li><a routerLink="/seller-auth">Seller</a></li>
        <li><a routerLink="">Trang chủ</a></li>
        <li><a href="#">Đăng nhập</a></li>
        <li><a href="#">Giỏ hàng(0)</a></li>
      </ul>
    </nav>
  </div>
</nav>