<!-- footer section start -->
<div class="footer_section layout_padding">
   <div class="container-fluid">
      <div class="row">
         <div class="col-lg-8 col-sm-12 padding_0">
            <div class="map_main">
               <div class="map-responsive">
                  <iframe
                     src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.685556836178!2d106.66710901051178!3d10.758699389344761!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752e752f2196a9%3A0x645dbc359ee1dcba!2zVGnhu4dtIHhlIMSR4bqhcCB0aOG7gyB0aGFvIMSQ4buZcCBXb3Jrc2hvcA!5e0!3m2!1svi!2s!4v1690885160214!5m2!1svi!2s"
                     width="600" height="400" frameborder="0" style="border:0; width: 100%;"
                     allowfullscreen=""></iframe>
               </div>
            </div>
         </div> 
         <div class="col-lg-4 col-sm-12 " style = 'text-align: center;'>
            <div class="call_text"><a href="#"><img src="assets/images/map-icon.png"><span class="padding_left_0"> 136/9 Nguyễn Tri Phương, Quận 5</span></a></div>
            <div class="call_text"  style = 'padding-right: 50px;'><a href="#"><img src="assets/images/call-icon.png"><span class="padding_left_0"> Gọi ngay : (84+) 12345678</span></a></div>
            <div class="call_text"  style = 'padding-right: 40px;'><a href="#"><img src="assets/images/mail-icon.png"><span
                     class="padding_left_0"> websitexedap@gmail.com</span></a></div>
            <div class="social_icon" style = 'margin-left: 150px;'>
               <ul>
                  <li style  = 'padding-right: 50px;'><a href="#"><img src="assets/images/fb-icon1.png"></a></li>
                  <li  style  = 'padding-right: 50px;'><a href="#"><img src="assets/images/twitter-icon.png"></a></li>
                  <li><a href="#"><img src="assets/images/linkedin-icon.png"></a></li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- footer section end -->
<!-- copyright section start -->

<!-- copyright section end -->