<div class="footer">
    <div class="footer-fluid">
       <div class="row">
          <div class="col-lg-8 col-sm-12 padding_0">
             <div class="map_main">
                <div class="map-responsive">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62711.36471706156!2d106.59114714863279!3d10.776014700000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752edb765b5c25%3A0x9a3519bdad5a85a3!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBOZ2_huqFpIG5n4buvIC0gVGluIGjhu41jIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCAoSFVGTElUKQ!5e0!3m2!1svi!2s!4v1688793570786!5m2!1svi!2s" width="600" height="400" style="border:0;" allowfullscreen=""></iframe>
                </div>
             </div>
          </div>
          <div class="col-lg-4 col-sm-12">
             <div class="call_text"><a href="#"><img src="/assets/images/map-icon.png"><span class="padding_left_0">Cycle Shopping</span></a></div>
             <div class="call_text"><a href="#"><img src="/assets/images/call-icon.png"><span class="padding_left_0">Hotline: +84 123467890</span></a></div>
             <div class="call_text"><a href="#"><img src="/assets/images/mail-icon.png"><span class="padding_left_0">cycleshop@gmail.com</span></a></div>
          </div>
       </div>
    </div>
 </div>