<style>
.alert{
  display: contents;

}
.danger{
  color:red
}
</style>
<div class="checkout">
  <h2>Phương thức thanh toán</h2>

  <div class="row">
    <div class="col-sm-7" style="border-right: 1px solid black;width: 50%;margin-top: 50px;">
      <h3>Thêm địa chỉ giao hàng</h3>
      <p class="message-p">{{orderMsg}}</p>
      <form #orderData="ngForm" class="common-form" (ngSubmit)="orderNow(orderData.value)" >

        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert">
          <p *ngIf="email.errors?.['required']" class="danger">Không được để trống</p>
          <p *ngIf="email.errors?.['pattern']" class="danger">Email không hợp lệ!</p>
      </div>
        <input type="text" class="form-input" name="email" placeholder="Nhập vào email" ngModel required pattern="^[a-zA-Z0-9._%+-]+@gmail\.com$" #email="ngModel"  />
        
        <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert">
          <p *ngIf="address.errors?.['required']" class="danger">Không được để trống</p>
       </div>
        <input type="text" class="form-input" required name="address" placeholder="Địa chỉ giao hàng" ngModel #address="ngModel" />
        <div *ngIf="contact.invalid && (contact.dirty || contact.touched)" class="alert">
          <p *ngIf="contact.errors?.['required']" class="danger">Không được để trống</p>
          <p *ngIf="contact.errors?.['pattern']" class="danger">SĐT không hợp lệ!</p>
      </div>
        <input type="number" class="form-input" ngModel name="contact" placeholder="Nhập số điện thoại liên lạc" required pattern="^[0-9]{10}$" #contact="ngModel"/>
        <button class="form-button" [disabled]="orderData.invalid">Đặt hàng ngay</button>
      </form>
    </div>
    <div class="col-sm-5" style="width: 50%;margin-top: 80px;">
      <h3>Tổng cộng: {{totalPrice | number:'1.0-0'}} VNĐ</h3>
      <h4>Phương thức thanh toán : <b>Thanh toán khi nhận hàng</b></h4>
    </div>
  </div>
</div>

