<div class="checkout">
    <h2>Phương thức thanh toán</h2>
    
    <div class="row">
      <div class="col-sm-7" style="border-right: 1px solid black;width: 50%;margin-top: 50px;">
        <h3>Thêm địa chỉ giao hàng</h3>
        <p class="message-p">{{orderMsg}}</p>
        <form #orderData="ngForm" class="common-form" (ngSubmit)="orderNow(orderData.value)">
          <input
            type="text"
            class="form-input"
            name="email"
            placeholder="Nhập vào email"
            ngModel
          />
          <input
            type="text"
            class="form-input"
            name="address"
            placeholder="Địa chỉ giao hàng"
            ngModel
          />
          <input
            type="number"
            class="form-input"
            name="contact"
            placeholder="Nhập số điện thoại liên lạc"
            ngModel
          />
          <button class="form-button">Đặt hàng ngay</button>
        </form>
      </div>
      <div class="col-sm-5" style = "width: 50%;margin-top: 80px;">
          <h3>Tổng cộng: {{totalPrice | number:'1.0-0'}} VNĐ</h3>
          <h4>Phương thức thanh toán : <b>Thanh toán khi nhận hàng</b></h4>
      </div>
    </div>
  </div>
  