
<style>
    .form-input{
    border: 1px solid black;
    border-radius: 5px
    }
    .form-button{
        border: 1px solid black;
        border-radius: 5px
    }
</style>

<div class="add-product" style = "margin: 4%;">
    <h1>Thêm vào sản phẩm mới</h1>
    <p class="message-p">{{addProductMessage}}</p>
    <form #addProduct="ngForm" (ngSubmit)="submit(addProduct.value)" class="common-form">
        <input type="text" class="form-input" placeholder="Nhập tên sản phẩm" ngModel name="name" />
        <input type="text" class="form-input" placeholder="Nhập giá tiền sản phẩm" ngModel name="price"  />
        <input type="text" class="form-input" placeholder="Nhập loại sản phẩm" ngModel name="category"  />
        <input type="text" class="form-input" placeholder="Nhập màu sản phẩm" ngModel name="color"  />
        <input type="text" class="form-input" placeholder="Nhập vào mô tả sản phẩm" ngModel name="description"/>
        <input type="text" class="form-input" placeholder="Nhập vào URL hình ảnh" ngModel name="image"  />
        <button class="form-button">Thêm sản phẩm</button>
    </form> 
</div>