<div class="product-list" style = "margin: 10px;">
    <h1>Product List</h1>
    <p class="message-p">{{ productMessage }}</p>
    <table>
        <thead>
            <tr>
                <th>Hình</th>
                <th>Tên sản phẩm</th>
                <th>Price</th>
                <th>Color</th>
                <th>Category</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of productList">
                <td><img src="{{ item.image }}" /></td>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.color }}</td>
                <td>{{ item.category }}</td>
                <td>{{ item.description }}</td>
                <td>
                    <div style = " text-align: center;display: flex;">
                        <button class="btn-danger" (click)="deleteProduct(item.id)">Delete</button>
                    <a class="adjust-update-link btn-success" routerLink="/seller-update-product/{{item.id}}">Edit</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>