<div class="product-list-wrapper" style="margin-top: 5%;">
    <div class="row">
      <div class="col-sm-3" *ngFor="let item of trendyProducts">
        <div class="product-item" style = "border-radius: 5px;">
          <a routerLink="/details/{{item.id}}"><img src="{{item.image}}" alt=""></a>
        <div class="product-details">
          <h6 class="name-head">{{item.name}}</h6>
          <div class="product-price">
            <h6>Giá tiền: {{ item.price | number:'1.0-0' }} VNĐ</h6>
          </div>
          <div class="product-color">
            <h6>Màu:{{item.color}}</h6>
          </div>
        </div>
        <div class="product-footer" style = "display: flex;justify-content: center;align-items: center;">
            <button *ngIf="!removeCart" class="form-button" (click)="addToCart()" style ="width: 50%;border-radius: 5px;">Thêm vào giỏ hàng</button>
        </div>
        </div>
      </div>
    
    </div>
    </div>
