<style>
  img:hover{
    display: block;
      transform: scale(1.1);
      transition: all 0.3s ease-in-out;
      overflow: hidden;
      margin-left: 5%;
      width: 90%;
  }
</style>
<div class="product-list-wrapper"  style = 'display: flex;'>
  <div style = 'width: 15%;'>
    <nav style = 'margin-top: 10%;'>
      <ul style = 'margin-left: -10px'>
        <div style="display: flex;">
          <i class='bx bx-list-ul' style=" font-size: 30px"></i>
        <h4> Danh mục : </h4>
        </div>
        <li class = 'category-item '>
          <a (click)="filter('Xe leo núi')">
            <h6>Xe đạp leo núi</h6>
          </a>
        </li>
        <li class = 'category-item '>
          <a (click)="filter('Xe leo núi')">
            <h6>Xe trẻ em</h6>
          </a>
         </li>
         <li class = 'category-item '>
          <a (click)="filter('Xe leo núi')">
            <h6>Xe giá rẽ</h6>
          </a>
         </li>
         <li class = 'category-item '>
          <a (click)="filter('Xe leo núi')">
           <h6> Xe đạp gấp </h6>
          </a>
        </li>

      </ul>
    </nav>
  </div>
  <div class="product-list-wrapper" style="margin: 30px 15px 0px 0px;width: 85%;" >
      <div class="row">
        <div class="col-sm-3" *ngFor="let item of trendyProducts">
          <div class="product-item" style = "border-radius: 5px;">
            <a routerLink="/details/{{item.id}}"><img src="{{item.image}}" alt=""></a>
          <div class="product-details">
            <h6 class="name-head" routerLink="/details/{{item.id}}">{{item.name}}</h6>
            <div class="product-price">
              <h6>Giá tiền: {{ item.price | number:'1.0-0' }} VNĐ</h6>
            </div>
            <!-- <div class="product-color">
              <h6>Màu:{{item.color}}</h6>
              
            </div> -->
            <div style = "display: flex;justify-content: center;margin-top: 20px; ">
              <h5 style = " text-align: center;display: flex;justify-content: center;align-items: center;margin-right: 20px;">Màu: </h5>
              <h3 [style.backgroundColor]="item.color" class="product-color"></h3></div>
          </div>
          </div>
        
        </div>
      </div>
      
    </div>
</div>
