<div class="product-list-wrapper">
    <div class="row">
      <div class="col-sm-3" *ngFor="let item of trendyProducts">
        <div class="product-item">
          <a routerLink="/details/{{item.id}}"><img src="{{item.image}}" alt=""></a>
        <div class="product-details">
          <h6 class="name-head">{{item.name}}</h6>
          <div class="product-price">
            <h6>Price:{{item.price}}</h6>
          </div>
          <div class="product-color">
            <h6>Color:{{item.color}}</h6>
          </div>
        </div>
        <div class="product-footer">
            <button *ngIf="!removeCart" class="form-button" (click)="addToCart()">Add to Cart</button>
        </div>
        </div>
      </div>
    
    </div>
    </div>
