<style>
    .list{
        margin-top: 20px;
    }
    .form-button:hover{
        color: red;
    }
</style>
<div class="my-orders" style="margin:50px 0px 20px 10px;">
    <h1>Đơn hàng của tôi</h1>
    <div class="row">
        <div class="col-sm-2">
            <span>Đơn đặt hàng</span>
        </div>
        <div class="col-sm-2">
            <span>Mã đơn đặt hàng</span>
        </div>
        <div class="col-sm-2">
            <span>Giá tiền</span>
        </div>
        <div class="col-sm-2">
            <span>Trạng thái</span>
        </div>
        <div class="col-sm-2" style ="margin-left: 10px;">
           <span>Hủy đơn hàng</span>
        </div>
    </div>
    <div class="row" *ngFor="let order of orderData" style = "border-bottom:1px solid black">
        <div class="col-sm-2">
          <img  src="https://png.pngtree.com/png-vector/20190219/ourlarge/pngtree-delivery-truck-icon-graphic-design-template-vector-png-image_561947.jpg" alt=""  style ='width: 50%;' >
        </div>
       
        <div class="col-sm-2 list">
            <span>#{{order.id}}</span>
        </div>
        <div class="col-sm-2 list" >
            <span> {{order.totalPrice | number:'1.0-0' }} VNĐ</span>
        </div>
        <div class="col-sm-2 list">
            <span>Đang xử lí</span>
        </div>
        <div class="col-sm-2 list" >
            <button class="form-button" (click)="cancelOrder(order.id)" style ="border-radius: 5px;width: 60% ;">Hủy đơn hàng</button>
        </div>
    </div>
    
</div>