<div class='center'>
    <div class="wrapper">
        <div class="form-box login">
            <h2>
                Login
            </h2>
            <form #userLogin="ngForm" class="common-form" (ngSubmit)="login(userLogin.value)">
                <div class="input-box">
                    <!-- <span class = "icon">
                    </span> -->
                    <input type="text" required class="user-password" name="email"
                    ngModel
                    email
                    #email="ngModel">
                    <label>User name</label>
                </div>
                <div class="input-box">
                    <input type="text" required class="user-password"  name="password"
                    ngModel
                    minlength="2"
                    maxlength="20"
                    #password="ngModel">
                    <label>Password</label>
                </div>

                <button type="submit" class="btn-register">Login</button>

                <div class="login-register">
                    <p>Don't have an account? <a class="register-link" routerLink="/register">Register</a></p>
                </div>
            </form>
        </div>
    </div>
</div>