<style>

    .alert {
        color:red;
        
    }
    
        
</style>
<div class='center'>
    <div class="wrapper">
        <div class="form-box login">
            <h2 style="margin-top: 20px;">
                ĐĂNG NHẬP
            </h2>
            <form #userLogin="ngForm" class="common-form"
                (ngSubmit)="login(userLogin.value)">
                <div class="input-box input-group has-validation">
                    <!-- <span class = "icon">
                    </span> -->
                    <input type="text" class="user-password" name="email"
                    ngModel
                    email
                    required
                     pattern="^[a-zA-Z0-9._%+-]+@gmail\.com$"
                    #email="ngModel">
                    <label>Email</label>
                    <div *ngIf="email.invalid && (email.dirty || email.touched)"class="alert" style="width: 100%;">
                        <p *ngIf="email.errors?.['required']" class="danger">Không được để trống</p>
                        <p *ngIf="email.errors?.['pattern']" class="danger">Email không hợp lệ!</p>
                    </div>
                </div>
                
                <div class="input-box input-group has-validation">
                    <input type="password" class="user-password"  name="password"
                    ngModel
                    minlength="2"
                    maxlength="20"
                    required

                    #password="ngModel">
                    <label>Mật khẩu</label>
                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert"  style="width: 100%;">
                        <p *ngIf="password.errors?.['required']" class="danger">Không được để trống</p>
                       
                    </div>
                </div>

                <button type="submit" class="btn-register" style = 'margin-top: 35px;'>Đăng nhập</button>

                <div class="login-register">
                    <p>Bạn chưa có tài khoản?<a class="register-link" routerLink="/register"> Đăng ký</a></p>
                </div>
            </form>
        </div>
    </div>
</div>