<div style = "width: 100%;margin-top: 5%;display: flex;">
    <h3 style="text-align: center;width: 50%;padding-left: 10%;">Giỏ hàng</h3>
    <h3 style="text-align: center;width: 50%;padding-left: 15%;"> Tiền thanh toán</h3>
</div>
<div class="cart-page">
        
        <div class="col-sm-8 details vien">
            <ul *ngFor="let cart of cartData">
                <li>
                    <img src="{{cart.image}}" alt="">
                   
                </li>
                <li class ='my_li'>
                    <span> {{cart.name}}</span>
                </li>
                <li class ='my_li'>
                    <span> Giá :{{cart.price}} đ</span>
                </li>
                <li class ='my_li'>
                    <span > Số lượng : {{cart.quantity}}</span>
               
                </li>
                <li class ='my_li'>
                    <button class="form-button" (click)="removeToCart(cart.id)">Xóa khỏi giỏ </button>
                </li>
            </ul>

        </div>
    
    
    <div class="col-sm-4 summary " >
        
        <ul>
            <li> <span>Thành tiền: </span><span>{{priceSummary.price | number:'1.0-0'}} VNĐ</span></li>
            <li> <span>Thuế:</span><span>{{priceSummary.tax | number:'1.0-0'}} VNĐ</span></li>
            <li> <span>Phí giao hàng:</span><span>{{priceSummary.delivery | number:'1.0-0'}} VNĐ</span></li>
            <li> <span>Giảm giá:</span><span>{{priceSummary.discount | number:'1.0-0'}} VNĐ</span></li>
            <li> <span>
                    <h4>Tổng tiền: </h4>
                </span> <span>
                    <h4>{{priceSummary.total | number:'1.0-0'}} VNĐ</h4>
                </span></li>
            <button (click)="checkout()" class="form-button max-width">Thanh toán</button>
        </ul>
    </div>
</div>