<div class="cart-page">
    <h1>
        Giỏ hàng
    </h1>
    <div class="row">
        <div class="col-sm-8 details">
            <ul *ngFor="let cart of cartData">
                <li>
                    <img src="{{cart.image}}" alt="">
                </li>
                <li>
                    <span> {{cart.name}}</span>
                </li>
                <li>
                    <span> Giá : ${{cart.price}}</span>
                </li>
                <li>
                    <span> Số lượng : {{cart.quantity}}</span>
                </li>
                <li>
                    <button class="form-button" (click)="removeToCart(cart.id)">Xóa khỏi giỏ</button>
                </li>
            </ul>

        </div>
        <div class="col-sm-4 summary">
            <h3>Tiền thanh toán</h3>
            <ul>
                <li> <span>Thành tiền:</span><span>{{priceSummary.price}}</span></li>
                <li> <span>Thuế:</span><span>{{priceSummary.tax}}</span></li>
                <li> <span>Phí giao hàng:</span><span>{{priceSummary.delivery}}</span></li>
                <li> <span>Giảm giá:</span><span>{{priceSummary.discount}}</span></li>
                <li> <span>
                        <h4>Tổng tiền</h4>
                    </span> <span>
                        <h4>{{priceSummary.total}}</h4>
                    </span></li>
                <button (click)="checkout()" class="form-button max-width">Checkout</button>
            </ul>
        </div>
    </div>
</div>