<div class="card">
    <div class="row">
        <div class="col-md-8 cart">
            <app-cart-list></app-cart-list>
        </div>
        <div class="col-md-4 summary">
            <div><h5><b>Summary</b></h5></div>
            <hr>
            <div class="row">
                <div class="col-md-4"><b>ITEMS 3</b></div>
                <div class="col text-right"><b>&euro; 132.00</b></div>
            </div>
            <form>
                <div class="row">
                    <div class="form-group">
                        <label for="">SHIPPING</label>
                        <select class="form-control">
                            <option class="text-muted">Standard-Delivery- &euro;5.00</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label>GIVE CODE</label>
                        <input class="form-control" placeholder="Enter your code">
                    </div>
                </div>
            </form>

            <div class="row" 
                    style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0; font-weight: bold; font-style: oblique;">
                <div class="col">TOTAL PRICE</div>
                <div class="col text-right">&euro; 137.00</div>
            </div>
            <button class="btn btn-dark">CHECKOUT</button>
        </div>
    </div>
    
</div>
