@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");
.summary button {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
.summary * {
    border-radius: 10px;
}
.vien{
    border-radius: 10px;
}
.cart-page{
    display: flex;
    margin-bottom: 25px;
}
.form-button{
    border-radius: 10px;
    width: 8em;

}
.my_li{
    align-items: center;
    justify-self: center;
    display: flex;
}
.form-button:hover{
    color:red;
}



.cart{
    margin: top 40px;
    margin-bottom: 50px;
}
.cart h1{
    text-align: center;
}
.details{
    border: 1px solid #ddd; 
}
.details img{
    height: 100px;
}
.details ul{
    padding: 0;
    margin:0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding-top: 15px;
    padding-bottom: 15px;
}
.summary h3{
    text-align: center;
}
.summary ul{
    border: 1px solid #ddd;
    list-style-type: none;
    padding: 15px;
}
.summary ul li{
    display: flex;
    justify-content: space-between;
}