<div class="seller-auth">
    <div *ngIf="!showLogin" class="sign-up">
        <h1>Đăng ký</h1>
        <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="common-form">
            <input type="text" class="form-input" placeholder="Nhập tên" name="name" ngModel />
            <input type="password" class="form-input" placeholder="Nhập mật khẩu" name="password" ngModel />
            <input type="text" class="form-input" placeholder="Nhập Email" name="email" ngModel />
            <button class="form-button">Đăng ký</button>
        </form>
    </div>
