<!-- <div class="seller-login">
    <div class="row">
        <div class="col-md-6">
            <div class="card" style ="margin-bottom: 10%;">
                <div class="text-center">
                    <h1>Đăng nhập</h1>
                </div>
                <form>
                    <form #sellerLogin="ngForm" (ngSubmit)="login(sellerLogin.value)">
                        <div class="mb-3">
                            <label for="exampleInputEmail" class="form-label">Tài khoản email</label>
                            <input ngModel name="email" type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword" class="form-label">Mật khẩu</label>
                            <input ngModel name="password" type="password" class="form-control" id="exampleInputPassword">
                        </div>
                        <button type="submit" class="btn btn-primary mb-2 mx-auto d-block">Đăng nhập</button>
                    </form>
                    <a style="color: azure; margin-top: 10px;" routerLink="/signup-seller">Bạn chưa có tài khoản? Hãy vào đây đăng ký!!! </a>
                </form>
            </div>
        </div>
    </div>
</div> -->


<div class='center'>
    <div class="wrapper">
        <div class="form-box login">
            <h2>
                Đăng nhập 
            </h2>
            <form #userLogin="ngForm" class="common-form"
                (ngSubmit)="login(userLogin.value)">
                <div class="input-box">
                    <!-- <span class = "icon">
                    </span> -->
                    <input ngModel name="email" type="email" class="user-password" id="exampleInputEmail" aria-describedby="emailHelp">      
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <input ngModel name="password" type="password" class="user-password" id="exampleInputPassword">
                    <label>Mật khẩu</label>
                </div>

                <button type="submit" class="btn-register">Đăng nhập</button>

            </form>
        </div>
    </div>
</div>