<div class="card">
    <div class="card-header">
        <strong>Bộ lọc</strong>
    </div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="from">From</label>
                <input type="number" id="from" class="form-control">
            </div>
            <div class="form-group">
                <label for="from">To</label>
                <input type="number" id="from" class="form-control">
            </div>
        </form>
    </div>
        <button class="btn btn-primary btn-block">Lọc theo giá</button>
</div>
