<style>
    .form-input {
        border: 1px solid black;
        border-radius: 5px
    }
</style>
<div class="update-product" style="margin: 4%;">
    <h1>Cập nhật sản phẩm</h1>
    <p class="message-p">{{productMessage}}</p>
    <form #addProduct="ngForm" (ngSubmit)="submit(addProduct.value)" class="common-form">
        <input type="text" class="form-input" placeholder="Nhập tên sản phẩm" name="name"
            ngModel="{{productData?.name}}" />
        <input type="text" class="form-input" placeholder="Nhập giá sản phẩm" name="price"
            ngModel="{{productData?.price}}" />
        <select class="form-input" id="myDropdown" onchange="updateDropdownName(this)"
            ngModel="{{productData?.category}}" name="category" placeholder="Chọn loại sản phẩm">
            <option value="Xe đạp leo núi">Xe đạp leo núi</option>
            <option value="Xe đạp đua">Xe đạp đua</option>
            <option value="Xe đạp đường phố">Xe đạp đường phố</option>
            <option value="Xe đạp biểu diễn">Xe đạp biểu diễn</option>
            <option value="Xe đạp không phanh">Xe đạp không phanh</option>
            <option value="Xe trẻ em">Xe trẻ em</option>
            <option value="Xe đạp gấp">Xe đạp gấp</option>
        </select>
        <select class="form-input" id="myDropdown" onchange="updateDropdownName(this)" ngModel="{{productData?.color}}"
            name="color" placeholder="Chọn màu sản phẩm">
            <option value="Blue">Blue</option>
            <option value="Black">Black</option>
            <option value="Gray">Gray</option>
            <option value="Yellow">Yellow</option>
            <option value="Green">Green</option>         
            <option value="White">White</option>
            <option value="Gold">Gold</option>
            <option value="Red">Red</option>
            <option value="Pink">Pink</option>
            <option value="Purple">Purple</option>
            <option value="Orange">Orange</option>

        </select>
        <textarea type="text" class="form-input" placeholder="Nhập mô tả sản phẩm" name="description"
            ngModel="{{productData?.description}}"></textarea>

        <input type="text" class="form-input" placeholder="Nhập URL hình ảnh" name="image"
            ngModel="{{productData?.image}}" />
        <button class="form-button">Sửa sản phẩm</button>
    </form>
</div>